@import "tailwindcss";

@theme {
  --color-active: rgba(226, 191, 7, 0.9);

  --color-primary: rgba(255, 255, 255, 0.95);
  --color-hover: rgba(219, 174, 10, 0.9);
  --color-important: rgba(255, 215, 0, 0.9);

  --color-entity-bg: rgba(20, 20, 25, 0.8);
  --shadow-standart:
    0 8px 32px 0 rgba(0, 0, 0, 0.3), inset 0 1px 0 0 rgba(255, 255, 255, 0.1),
    0 1px 4px 0 rgba(0, 0, 0, 0.2);

  --color-draggable-elem-bg: rgba(25, 25, 30, 0.7);
  --color-draggable-active-elem-bg: linear-gradient(
    270deg,
    rgba(50, 50, 55, 0.8) 0%,
    rgba(70, 70, 80, 0.9) 100%
  );
  --color-bg-kbd: linear-gradient(
    35deg,
    rgba(40, 40, 45, 0.7) 0%,
    rgba(60, 60, 70, 0.9) 100%
  );

  --color-standart-border: rgba(255, 255, 255, 0.12);
  --gradient-variant-1: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.05) 100%
  );

  --gradient-variant-2: linear-gradient(
    35deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.05) 50%,
    rgba(255, 255, 255, 0.025) 100%
  );

  --invert-icon-filter: invert(100%);
  --color-active-border: rgba(255, 215, 0, 0.9);

  /* not theme settings */
  --data-active-blur: initial;
  --color-backdrop-blur: var(--data-active-blur, 16px);
}
:root {
  background-color: #12111a;
}
