@import "tailwindcss";

@theme {
  /* activated, focused elems */
  --color-active: #e2bf07;

  /* standart text */
  --color-primary: rgba(255, 255, 255, 0.87);
  /* hovered interactive text */
  --color-hover: #dbae0a;
  /* important text */
  --color-important: gold;

  /* for main containers in entities */
  --color-entity-bg: rgba(50, 50, 50, 0.2);
  --shadow-standart:
    0 8px 40px 0 rgba(255, 255, 255, 0.08),
    0 1.5px 10px 0 rgba(255, 255, 255, 0.08);

  /* interactive elems in ul */
  --color-draggable-elem-bg: rgba(97, 97, 102, 0.1);
  --color-draggable-active-elem-bg: linear-gradient(
    270deg,
    rgba(97, 97, 102, 0.2) 0%,
    rgba(134, 134, 150, 0.5) 100%
  );

  /* other */
  --color-standart-border: #4f4e53;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 12px;

  /*color-scheme: light dark;*/
  color: var(--color-primary);
  background-color: #12111a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gradient-variant-2: linear-gradient(
    35deg,
    rgba(100, 100, 100, 0.3) 0%,
    rgb(148, 148, 148, 0.25) 100%
  );
  --gradient-variant-1: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(124, 124, 124, 0.6) 50%,
    rgba(54, 54, 54, 0.4) 100%
  );
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 1920px;
  margin: auto;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  border: 1px var(--color-standart-border) solid;
  border-radius: 9999px;
  height: 26px;
  padding-left: 36px;
  width: 152px;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
  transition: box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
input:active,
input:focus-visible {
  box-shadow: 0 0 0 2px var(--color-active);
}

button {
  cursor: pointer;
  min-width: 36px;
  border-radius: 9999px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid var(--color-standart-border);
}
button:hover {
  transform: scale(1.15);
}

main {
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
}

body button:nth-child(even) {
  background: var(--gradient-variant-1);
}

body button:nth-child(odd) {
  background: var(--gradient-variant-2);
}

a {
  transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover {
  color: var(--color-hover);
}

.draggable-active-elem {
  background: var(--color-draggable-active-elem-bg);
}
.bg-progressAudioGradient {
  background: var(--gradient-variant-1);
}
.bg-audioVolumeBar {
  background: var(--gradient-variant-2);
}

/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
