@import "tailwindcss";

@theme {
  /* activated, focused elems */
  --color-active: #e2bf07;

  /* standart text */
  --color-primary: rgba(255, 255, 255, 0.87);
  /* hovered interactive text */
  --color-hover: #dbae0a;

  /* for main containers in entities */
  --color-entity-bg: #2a2c31;
  --shadow-standart: 0 8px 40px 0 rgba(255, 255, 255, 0.08),
    0 1.5px 10px 0 rgba(255, 255, 255, 0.08);

  /* other */
  --color-standart-border: #4f4e53;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 12px;

  /*color-scheme: light dark;*/
  color: var(--color-primary);
  background-color: #1c1d23;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 1920px;
  margin: auto;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  border: 1px var(--color-standart-border) solid;
  border-radius: 9999px;
  height: 26px;
  padding-left: 36px;
  width: 152px;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
  transition: box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
input:active,
input:focus-visible {
  box-shadow: 0 0 0 2px var(--color-active);
}

a {
  transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover {
  color: var(--color-hover);
}

button {
}

button:hover {
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
